/*Custom CSS*/
body{
	background: linear-gradient(76deg, #ffffff, #3285dc);
background-size: 400% 400%;

-webkit-animation: uichange 30s ease infinite;
-moz-animation: uichange 30s ease infinite;
animation: uichange 30s ease infinite;
}
@-webkit-keyframes uichange {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@-moz-keyframes uichange {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@keyframes uichange { 
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}

.box {
  
  box-shadow: 0 0 5px;
  height: 230px;
  margin: 5px 2px auto;
  opacity: 0.75;
  width: 280px;
  transition: all 0.5s ease-out 0s;
  color: #fff;
}
.box:hover {
  opacity: 1;
  transition: all 0.5s ease-in 0s;
}
.b-red {
	background: red none repeat scroll 0 0;
}
.b-pink {
  background: #d20962;
}
.b-peach {
	background: #9000f0;
}
.b-blue {
	background: #00acee;
}
.b-orange {
	background: #ef5734;
}
.b-yellow{
	background: #fff000;
}
.b-green {
	background: #37ab2e;
}
.b-gray {
	background: #718087;
}